body {
	background-color: #D8B077;
}

@font-face {
	font-family: "UniSansHeavy";
	src: url("fonts/uni-sans.heavy-caps.otf") format("opentype");
}

#container {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#canvas {
	border: 3px solid #967748;
	box-shadow: 0px 0px 100px #967748;
}